# mac os
.DS_Store

# forge / gradle
.gradle
build/
out/
classes/
run/

# eclipse 
*.launch
.settings
.classpath
.project
.metadata
eclipse
*.launch

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath

# other
bin/
jars/
/.nb-gradle/
