# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up JDK 1.8
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Set up Gradle build
      run: ./gradlew SetupCIWorkspace build
    - name: Build with Gradle
      run: ./gradlew cleanBuildAll
      working-directory: publish
    - uses: actions/upload-artifact@v3
      with:
        name: Package
        path: build/libs
